<form>
    <div class="form-group">
        <h1>{{selectedQuarter.Name}}</h1>
    </div>
    <div class="form-group">
        <div class="container">
            <input type="image" src="modules/fbl-daytime-tracker/artwork/morning.png" alt="{{quarters.morning}}"
                data-value="0" data-name="morning" />
            <div class="bottom-centered">{{quarters.morning}}</div>
        </div>
        <div class="container">
            <input type="image" src="modules/fbl-daytime-tracker/artwork/daytime.png" alt="{{quarters.midday}}"
                data-value="1" data-name="daytime" />
            <div class="bottom-centered">{{quarters.midday}}</div>
        </div>
        <div class="container">
            <input type="image" src="modules/fbl-daytime-tracker/artwork/evening.png" alt="{{quarters.evening}}"
                data-value="2" data-name="morning" />
            <div class="bottom-centered">{{quarters.evening}}</div>
        </div>
        <div class="container">
            <input type="image" src="modules/fbl-daytime-tracker/artwork/night.png" alt="{{quarters.night}}"
                data-value="3" data-name="morning" />
            <div class="bottom-centered">{{quarters.night}}</div>
        </div>
    </div>
</form>