<form class="flexcol">
    <div class="form-group">
        <h1>{{selectedQuarter.Name}}</h1>
    </div>
    <div class="form-group">
        <input type="image" src="modules/fbl-daytime-tracker/artwork/morning.png" />
        <input type="image" src="modules/fbl-daytime-tracker/artwork/daytime.png" />
        <input type="image" src="modules/fbl-daytime-tracker/artwork/evening.png" />
        <input type="image" src="modules/fbl-daytime-tracker/artwork/night.png" />
        <!-- <button id="morning" data-name="DAYTRACKER.morning" data-value="0">{{quarters.morning}}</button>
        <button id="midday" data-name="DAYTRACKER.midday" data-value="1">{{quarters.midday}}</button>
        <button id="evening" data-name="DAYTRACKER.evening" data-value="2">{{quarters.evening}}</button>
        <button id="night" data-name="DAYTRACKER.night" data-value="3">{{quarters.night}}</button> -->
    </div>
</form>